.cid-sPxxnWWjsZ {
    background-color: #0a1280;
  }
  .cid-sPxy4lsOWp {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #ffffff;
  }
  .cid-sPxy4lsOWp .mbr-section-subtitle {
    color: #767676;
    font-weight: 300;
  }
  .cid-sPxy4lsOWp .number-wrap {
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0.15);
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 5px 10px 13px 10px;
    margin: 0;
    min-width: 118px;
    border-radius: 2px;
    max-width: 100%;
  }
  .cid-sPxy4lsOWp .number {
    font-style: normal;
    font-weight: 700;
    text-transform: none;
    letter-spacing: -2px;
    font-size: 55px;
    word-spacing: 0;
    line-height: 1.3;
    color: #ffffff;
  }
  .cid-sPxy4lsOWp .period {
    display: block;
    padding-top: 2px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .cid-sPxy4lsOWp .dot {
    position: absolute;
    top: -10px;
    right: -1em;
    width: 1em;
    display: block;
    font-size: 55px;
    height: 83%;
    overflow: hidden;
    font-style: normal;
    font-weight: 700;
    line-height: 89.65px;
    text-transform: none;
    letter-spacing: 0;
    word-spacing: 0;
    color: #ffffff;
  }
  .cid-sPxy4lsOWp .countdown-cont {
    background: linear-gradient(45deg, #3614cc, #f1f1f1);
    max-width: 700px;
    border-radius: 3px;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    .cid-sPxy4lsOWp .dot {
      display: none;
    }
    .cid-sPxy4lsOWp .col-xs-3 {
      padding-left: 0;
      padding-right: 0;
      max-width: 25%;
      flex: 0 0 25%;
    }
    .cid-sPxy4lsOWp .number-wrap {
      min-width: auto;
    }
  }
  @media (max-width: 576px) {
    .cid-sPxy4lsOWp .row {
      flex-wrap: nowrap;
    }
    .cid-sPxy4lsOWp .number {
      white-space: nowrap;
    }
  }
  @media (max-width: 440px) {
    .cid-sPxy4lsOWp .number {
      font-size: 30px;
    }
    .cid-sPxy4lsOWp .period {
      font-size: 0.8rem;
    }
  }
  @media (max-width: 300px) {
    .cid-sPxy4lsOWp .number {
      font-size: 20px;
    }
    .cid-sPxy4lsOWp .period {
      font-size: 0.6rem;
    }
  }


  .mbr-fonts-style {
      color: white;
  }